<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781053015186-5n16q6ce4o77mmm7eo7md73n3b3a54ho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781053015186-5n16q6ce4o77mmm7eo7md73n3b3a54ho</string>
	<key>API_KEY</key>
	<string>AIzaSyCH0PSI1MlvcNjqRK9AdwulhuWwXwvP3HE</string>
	<key>GCM_SENDER_ID</key>
	<string>781053015186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daisy.costagram</string>
	<key>PROJECT_ID</key>
	<string>costagram-8aefb</string>
	<key>STORAGE_BUCKET</key>
	<string>costagram-8aefb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781053015186:ios:e002000c27ec457fdd224b</string>
</dict>
</plist>